/*Import link for Urbanist from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
        /* font-family: "Urbanist", serif; */

/*Import link for Chakra Petch from fonts.google.com*/        
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
        /* font-family: "Chakra Petch", serif; */
       
        
/*Import link for Merriweather from fonts.google.com*/        
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
        /* font-family: "Merriweather", serif; */

html{        
    scroll-behavior: smooth;
    background-image: url(../images/background2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #3f4a3c;
}

body{
    margin: 0%;
    box-sizing: border-box;

}

/****NAVBAR STYLING****/
.navbar{
    overflow: hidden;
    background-color: #21361c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    -webkit-animation: moveNavbar;
    animation: moveNavbar 3s;
}

@keyframes moveNavbar {
    from {left: -100vw;}
    to {left: 0vw;}

}

.navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    position: relative;
    -webkit-animation: NavText 10s;
    animation: NavText 10s;
    user-select: none;
}

@keyframes NavText{
    0%{ color: #21361c;}
    100%{color: white}
}

.navbar a:hover{
    background-color: #21361c;
    color: wheat;
    font-weight: 700;
    cursor: pointer;
}


.nameBL{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.nameBL h2{
    margin-top: 1em;
    line-height: 1;
    font-size: 10vw;
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    color: transparent;
    background-image: linear-gradient(to left, #adb13a, #adb13a, #fffbce, #51a243);
    -webkit-background-clip: text;
    animation: animate 8s linear infinite;
    -webkit-background-size: 500%;
    text-align: center;
    z-index: 8;
}

@keyframes animate{
    0%{
        background-position: 0, 100%;
    }
    50%{
        background-position: 100%, 0;
    }
    100%{
        background-position: 0 100%;
    }
}

.nameBL-container{
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 5%;
    background-color:#3f4a3c;
    opacity: 90%;

}
/****BODY STYLING****/
*{
    box-sizing: border-box;
}
.column-1{
    float: left;
    width: 50%;
    padding: 2%;
    height: 600px;
    background-color: rgba(63, 74, 60, .9);
}

h1{
    font-size: 5vw;
}

h1, p, label{
    font-family: "Merriweather", serif; 
    color: wheat;
}

p{
    text-align: justify;
    letter-spacing: 1px;
}

.tall{
    padding-top: 3%;
    height: 700px;
    padding-bottom: 3%;
}

/* Slideshow */

.mySlides {
    display: none;
}

#slideshow-container {
   height: 75%;
   width: 75%;
   position: relative;
   margin: auto;
}

.slideshow-images {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.previous, .next{
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    width: auto;
    user-select: none;
    font-weight: bold;
    font-size: 1.5vw;
}

.next{
    right: 0;
}

.previous:hover, .next:hover{
    color: wheat;
}

.image-text {
    position: relative;
    bottom: 0;
    padding: 1vw;
    width: 100%;
    text-align: center;
    font-family: "Merriweather", serif;
    color: wheat;
    background-color: rgba(63, 74, 60, .8);
    border-radius: 15px;
    user-select: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* Rest of page */

.row:after{
    content: "";
    display: table;
    clear: both;
}

.center{
    text-align: center;
}

.logo-img{
    max-width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-img:hover{
    transition: transform 1s;
    transform: scale(1.05);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }


    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    } 

    .column-1{
        overflow: auto;
    }
}

/****CONTACT FORM****/

/* Button used to open the contact form - fixed at the bottom of the page */
 .open-button {
    background-color: rgba(33,54,28,1);
    color: white;
    font-weight: 500;
    font-family: "Merriweather", serif;
    font-size: 1.2vw;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    right: 0vw;
    top: 10vw;
    width: 2vw;
    height: 3vw;
    z-index:9;
 } 

 .open-button:hover{
    background-color: wheat;
    color: #21361c;
    transition: 2s;
 }

  .form-popup {
    display: none;
    position:fixed;
    top: 10vw;
    right: 0vw;
    z-index: 10;
    width: 25vw;
    border-radius: 20px;
    box-shadow:0 0 15px black ;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 25vw;
    padding: 10px;
    background-color: rgba(33,54,28,1);
    border-radius: 20px;
    border: 3px solid black;
  }

input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #386c5f ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea{
    resize: none;
    height: 150px;
}    

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, textarea:hover{
    box-shadow: 0 0 5px #21361c inset;
}

/*SUBMIT BUTTON*/
input[type=submit], button[type=button] {
    background-color: #386c5f;
    color: white;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 100px;
    
}

input[type=submit]:hover, button[type=button]:hover {
    background-color: wheat;
    color: #21361c;
    transform: scale(1.1);
    transition: 2s;
}

form {
    padding: 10px;
}


footer{
    width: 100%;
    height: 100%;
    border-top: 5px solid #21361c;
    position: relative;

}

.footer{
    overflow: hidden;
    background-color: #3f4a3c;
    opacity: 90%;
    width: 100%;
    height: 100%;
}

#footer-p{
    text-align: center;
}

